/* CSS RULES */

/* Reset */

* {
    border: 0; 
    box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* different font type for the headings */
h1, h2, h3, h4, h5, h6 { font-family: "Playfair Display", "serif";}


